<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"><head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>R2DrinkToo</title>

<link rel="stylesheet" type="text/css" href="/static/css/barbot.css" />
<link rel="stylesheet" type="text/css" href="/static/css/jquery-ui-1.10.4.css" />

<script type="text/javascript" src="/static/js/jquery-2.1.1.min.js"></script>
<script type="text/javascript" src="/static/js/jquery-ui-1.10.4.js"></script>
<script type="text/javascript" src="/static/js/jquery.ui.touch-punch.js"></script>
<script type="text/javascript" src="/static/js/barbot.js"></script>
<style>


</style>
</head>
<body>
<div>
  <div class='all'>
</div>

<script>
var barBot;
$(document).ready(function() {
  barBot = new BarBot(".all"); 
  barBot.init();  
});
</script>
</body></html>